/* Form Styling */

:root{
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;

--Marine-blue: hsl(213, 96%, 18%);
--Purplish-blue: hsl(243, 100%, 62%);
--Pastel-blue: hsl(228, 100%, 84%);
--Light-blue: hsl(206, 94%, 87%);
--Strawberry-red: hsl(354, 84%, 57%);
--Cool-gray: hsl(231, 11%, 63%);
--Light-gray: hsl(229, 24%, 87%);
--Magnolia: hsl(217, 100%, 97%);
--Alabaster: hsl(231, 100%, 99%);
--White: hsl(0, 0%, 100%);
}


.container{
  background-color: var(--White);
  border-radius: 15px;
  width:800px;
  height: 550px;
  display: grid;
  grid-template-columns: 2fr 4fr;
  gap:12px;
  padding:12px;


}

button.next-step{
  width:25%;
  margin-left:74%;
  margin-top:20%;
  margin-bottom: 5%;
  background-color: var(--Marine-blue);
  border: none;
  border-radius: 5px;
  padding: 2%;
  color: var(--White);
  font-weight: 700;
}

/* Sidebar styling */

.form-sidebar{
  grid-column: 1/2;
  background: url('../src/components/images/bg-sidebar-desktop.svg');
  background-size: 550px contain;
  background-repeat: no-repeat;
  border-radius: 15px;
  color: var(--White);
  padding: 8%;
}

.form-sidebar span{
  border: 1px solid var(--White);
  font-weight: 500;
  border-radius: 50px;
  width:30px;
  height: 30px;

  display: flex;
justify-content: center;
align-items: center;
}

.step-text{
  display: flex;
  flex-direction: column;
  margin-left: 15%;
}

.form-sidebar h4{
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 3px;
}

.form-sidebar h3{
    font-size: 0.9em;
  text-transform: uppercase;
  margin-top: 3px;
}

.your-info, .plan, .add-ons, .summary{
  display: flex;
  align-items: center;
  width: 70%;
}

.form-info{

  grid-column: 2/3;
  padding:0 8%;

  color: var(--Marine-blue);
}


/* This is styling for the different pages */

.personal-info, .select-plan, .add-ons-info{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.personal-info h1, .select-plan h1, .add-ons-info h1{
  font-size: 1.9em;
  margin-bottom: 5px;
}

.personal-info h2, .select-plan h2, .add-ons-info h2{
  font-size: 0.9em;
  font-weight: 500;
  color:var(--Cool-gray)
}

.personal-form, .plan-form, .add-ons-form{
  display: flex;
  flex-direction: column;
  margin-top: 6%;
  height: 30%;
}

.personal-form label, .plan-form label, .add-ons-form label{
  font-size: 0.9em;
  font-weight: 700;
  padding-bottom: 1%;
  padding-top: 3%;
}

.personal-form input, .plan-form input {
  border: 1px solid var(--Light-gray);
  border-radius: 8px;
  padding:3%;
  color: var(--Cool-gray);
  font-weight: 700;
}

.plan-cards{
  display: flex;
  justify-content: space-between;
}

.plan-card{
  border:1px solid var(--Marine-blue);
  width: 25%;
  border-radius: 10px;
  padding: 3%;
}

.plan-card h3{
  font-size: 1em;
  margin-bottom: 0;
  margin-top: 30%;
}

.plan-card p{
  margin-top: 2%;
  margin-bottom: 0;
  font-size: 0.9em;
  color: var(--Cool-gray);
}

.slider{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  margin-top:4%;
}


input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 20px;
  background: var(--Marine-blue);
  border-radius: 35px;
  border:none;
  padding: 0 5px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--White) !important;
  border: 1px solid var(--White) !important;
  border-radius: 35px;
  width: 12px;
  height: 12px;
}
input[type="range"]::-moz-range-thumb {
  background: var(--White) !important;
  border: 1px solid var(--White) !important;
  border-radius: 35px;
  width: 12px;
  height: 12px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb {
  background: var(--White) !important;
  border: 1px solid var(--White) !important;
  border-radius: 35px;
}
input[type="range"]:focus::-moz-range-thumb {
  background: var(--White) !important;
  border: 1px solid var(--White) !important;
  border-radius: 35px;
}

.addon-labels h3{
  font-size: 0.8em;
  margin-bottom: 0%;
}

.addon-labels p{
  color:var(--Cool-gray);
  font-size:0.7em;
  margin-top: 1%;
}

.add-on-checkbox span{
  font-size: 0.8em;
  color: var(--Purplish-blue);
}

.add-on-checkbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--Light-gray);
  border-radius: 5px;
  padding: 1% 4%;
  margin-bottom:4%;
}

.last-child{
  margin-bottom:0% !important;
}

.add-on-input{
  display: flex;
  width: 50%;
  align-items: center;
}

.add-on-input input{
  margin-right: 5%;
}


input[type="checkbox"]{
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  font: inherit;
  color: currentColor;
  width: 0.9em;
  height: 0.9em;
  border:1px solid var(--Light-gray);
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before{
  content: '';
  width: 0.9em;
  height: 0.9em;
  border-radius: 0.15em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--Purplish-blue);
  position: relative;
 
}


input[type="checkbox"]:checked::before {
  transform: scale(1);

}

input[type="checkbox"]::after{
  content: '\f00c';
  font-family: "Font Awesome 6 Free";
  font-size: 0.7em;
  color:var(--White);
  font-weight: 900;
  /* width: 0.5em; */
  transform: scale(0);
  position: absolute;
  
  transition: 120ms transform ease-in-out;
  
}


input[type="checkbox"]:checked::after {
  transform: scale(1);

}

.links button{
  margin: 0 !important;
}

.links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:20%;
}

.links a{
  text-decoration: none;
  color: var(--Cool-gray);
  font-size: 0.8em;
  font-weight: 500;
}

